.login form {
  float: right;
  padding: 25px;
}

.login label {
  margin: 10px;
  color: white;
}

.signup label {
  display: block;
  padding: 10px;
}

input {
  margin-left: 5px;
}

.login {
  width: 100%;
  display: inline-block;
  background-color: #663300;
}

.logo {
  height: 70px;
}

.login_button {
  cursor: pointer;
}

.signup {
  float: right;
  padding: 50px;
  align-items: center;
}

.signup_button {
  background-color: #663300;
  color: white;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
